/* ---------------------------------------
---------- EXHIBITIONS STYLES ------------ */



/* ---- ARTICLE ---- */

.cosmology,
.biology-medicine,
.ecology {
  padding-bottom: 10vh;
}

.evolution,
.robotics-ai {
  background-color: var(--primary-color);
  width: 100%;
  color: white;
  padding-top: 30px;
  margin-bottom: 8px;
  padding-bottom: 3vh;
}



/* ---- BLUE-CONTENT ---- */

.blue-content {
  width: 80vw;
  margin: 50px auto;
  z-index: 10;
  padding-bottom: 50px;
}

.blue-content h2 {
  color: white;
}


/* ---- MEDIA TABLET ---- */

@media only screen and (min-width: 768px) and (max-width: 999px) {
  header,
  article,
  main h2,
  .blue-content {
    width: 60vw;
  }

  .content-image {
    width: 100%;
    height: 100%;
  }

  article {
    padding-bottom: 10vh;
  }

  .blue-content {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}



/* ---- MEDIA DESKTOP SMALL < ---- */

@media screen and (min-device-width: 1200px) {
  header,
  article,
  main h2,
  .blue-content {
    width: 80vw;
  }

  .cosmology,
  .biology-medicine,
  .ecology {
    padding-bottom: 15vh;
  }

  .evolution,
  .robotics-ai {
    padding-bottom: 1vh;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15vw;
    height: auto;
    margin-bottom: 50px !important;
  }

  main p {
    height: 12vh;
  }

  main h2 {
    margin-top: 15vh;
  }

  .left-kids,
  .mid-kids,
  .right-kids {
    height: auto;
  }

  .content-image {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    object-fit: cover;
    width: 100%;
    margin: 0px;
    height: 70%;
  }
}



/* ---- MEDIA DESKTOP LARGE < ---- */

@media screen and (min-device-width: 1600px) {
  header,
  article,
  main h2,
  .blue-content {
    width: 70vw;
  }

  main p {
    height: 7vh;
  }

  .cosmology,
  .biology-medicine,
  .ecology {
    padding-bottom: 10vh;
  }

  .evolution,
  .robotics-ai {
    padding-bottom: 5vh;
  }
  
  main h2 {
    margin-top: 10vh;
  }
}
