
.title span {
    display: inline-block;
}
  
.title span::after
{
    margin-top: 5px;
    content: '';
    height: 5px;
    background: var(--secondary-color);
    border-radius: 5px;
    display: block
}

.title {
    color: var(--primary-color);
}

header, article {
    width: 80vw;
    margin: 0 auto;
}

header {
    margin-top: 50px;
}

main h2 {
    color: var(--primary-color);
    width: 80vw;
    margin: 50px auto 0 auto;
}

main p {
    font-weight: 600;
}

article section {
    margin-top: 25px;
    margin-bottom: 0;
}

.content-image {
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px; /* DISSE MÅ MIDSTILLES FØR LEVERING */
}


.for-teachers {
    background-color: var(--primary-color);
    width: 100%;
    color: white;
    padding-top: 30px;
    margin-bottom: 80px;
}

.section-end {
    margin-bottom: 100px;
}

.for-teachers h2 {
    color: white;
}

.blue-content {
    width: 80vw;
    margin: 50px auto;
    z-index: 10;
}

.teacher-image {
    width: 300px;
    height: 420px;
}

.cta-contact {
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#filler-image {
    display: none;
}




@media screen and (min-device-width: 1200px)  {
    .for-kids {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px;
    }
    article section {
        margin-top: 25px;
        margin-bottom: 0;
        height: 400px;
    }
    .content-image {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .for-kids p {
        height: 120px;
    }
    .teacher-grid-container {
        display: grid;
        grid-template-areas: 
        "left mid-1 right"
        "left mid-2 right"
        "left mid-3 right"
        "left mid-4 right";
    }
    .left-image {
        grid-area: left;
    }
    .right-image {
        grid-area: right;
    }
    .mid-text-1 {
        grid-area: mid-1;
    }
    .mid-text-2 {
        grid-area: mid-2;
    }
    .mid-text-3 {
        grid-area: mid-3;
    }
    .mid-text-4 {
        grid-area: mid-4;
        bottom: -20px !important;
    }
    .mid-text {
        width: 25vw;
        margin: 12px auto;
        position: relative;
        bottom: -40px;
    }
    .teacher-image {
        margin: 50px auto !important;
    }
    .researchers {
        margin-top: 25px;
        display: grid;
        grid-template-areas: 
        "left mid right";
        gap: 100px;
        height: 100%;
    }
    .researchers section, p {
        margin-top: 0px;
    }
    .researchers p {
        height: 80px;
    }
    .left-r {
        grid-area: left;
    }
    .right-r {
        grid-area: right;
    }
    #filler-image {
        display: block;
        border-radius: 4px;
        grid-area: mid;
        height: 350px;
        width: 225px;
    }
}

@media screen and (min-device-width: 1600px)  {
    .content-image {
        width: 100%;  /* FIX THE OVERFLOW */
        height: 70%;
    }
    #filler-image {
        height: 100%; /* FIX THE OVERFLOW */
        width: 100%;
    }
    .teacher-image {
        width: 100%; /* FIX THE OVERFLOW */
        height: 100%;
    }
    .for-kids, .researchers {
        gap: 160px;
    }
}