
footer {
    background-color: var(--primary-color);
}

footer {
    padding-top: 80px;
    padding-bottom: 40px;
    color: white;
    line-height: 10px;
}

footer div {
    width: 80vw;
    margin: 0 auto 40px;
}

footer img {
    position: relative;
    float: right;
    top: 2px;
}

.footer-header {
    text-decoration: underline white;
}




@media screen and (min-device-width: 1200px)  {
    footer section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    footer div {
        max-width: 20vw;
        margin: 0 auto 40px;
    }
}


