:root {
    --primary-color: #118AB2;
    --secondary-color: #EF476F;
}

.hero {
    width: 390px;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

h1 {
    width: 90vw;
    margin: 40px auto 0;
    
}

header h2 {
    margin: 25px auto 0;
    font-size: 1.25rem;
    width: 80vw;
    font-weight: 500;
}

button {
    margin-top: 40px;
    margin-bottom: 80px;
}

.events h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    margin: 0;
}

.events {
    width: 80vw;
    margin: 80px auto 100px;
    text-align: center;
}

.event p {
    /* font-weight: 900; */
    font-family: "Nunito";
}

.content-image {
    width: 300px;
    height: 200px;
    margin-top: 40px;
}

.events p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
}