:root {
    --primary-color: #118AB2;
    --secondary-color: #EF476F;
}


#desktop-nav {
    display: none;
}

#mobile-nav {
    display: flex;
}

ul {
    list-style-type: none;
}

nav {
    background-color: var(--primary-color);
    color: white;
    height: 60px;
    width: 100vw;
}

input[type=checkbox]{
    visibility: hidden;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
}

input[type=checkbox]:checked ~ ul {
    display: block;
}

.dropdown ul {
    display: none;
    background-color: var(--primary-color);
    height: 300px;
    width: 100vw;
    position: relative;
    top: 43px;
    text-align: center;
    padding: 0;
}

#mobile-nav li {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.nav-active {
    text-decoration: underline var(--secondary-color) 2px;
    text-underline-offset: 5px;
}


.logo {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 12px;
    left: 14px;
}

.menu {
    width: 35px;
    position: absolute;
    top: 16px;
    right: 14px;
}





@media screen and (min-device-width: 1200px)  {
    #mobile-nav {
        display: none;
    }
    #desktop-nav {
        display: block;
    }
    #desktop-nav ul {
        display: inline-flex;
        gap: 50px;
        width: 40vw;
        position: relative;
        float: right;
    }
    nav {
        position: relative;
        width: 100vw;
        height: 75px;
        top: 0px;
    }
    .logo {
        position: relative;
        width: 45px;
        height: 45px;
        left: 40px;
        top: 15px;
    }
    .hero {
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}